<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/"
      xmlns:sec="http//thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Contracts</title>
  <link rel = "stylesheet" type = "text/css" href = "/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<th:block th:insert = "fragments/head :: head(title = 'Login')"></th:block>
<body><th:block th:insert="fragments/navbar :: navbar"></th:block>
<div>
  <h1>

  </h1>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Category
        </th>
        <th scope="col">
          Provider
        </th>
        <th scope="col">
          Price
        </th>
        <th scope="col">

        </th>
        <th scope="col">

        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="channel: ${channels}">
        <td th:text="${channel.id}"></td>
        <td th:text="${channel.name}"></td>
        <td th:text="${channel.category}"></td>
        <td th:text="${channel.provider}"></td>
        <td th:text="${channel.price}"></td>
        <td>
          <a th:href="@{/admin/editChannel/{id}(id=${channel.id})}"><button type="button" class="btn btn-outline-primary">Edit</button></a>
        </td>
        <td>
          <a th:href="@{/admin/deleteChannel/{id}(id=${channel.id})}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>