<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/"
xmlns:sec="http//thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel = "stylesheet" type = "text/css" href = "/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<th:block th:insert = "fragments/head :: head(title = 'Login')">
</th:block>
<body>
  <th:block th:insert="fragments/navbar :: navbar"></th:block>
  <div class = "container text-center">
    <div>
      <h2> Welcome <span sec:authentication="principal.username">User</span></h2>

    </div>

  </div>

<p th:text="${error}"></p>
<p th:text="${success}"></p>

</body>
</html>