<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel = "stylesheet" type = "text/css" href = "/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div class = "container text-center">
  <div>
    <h1> Registration </h1>
  </div>
  <form th:action="@{/register}" method="post" style="max-width: 400px; margin: 0 auto" th:object="${user}">
    <div class = "m-3">
      <div class="form-group row">
          <label class="col-form-label col-4 text-md-left">Username</label>
          <input type="text" class="form-control" th:field="*{username}" required/>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-4 text-md-left">Password</label>
        <input type ="password" class="form-control" th:field="*{password}" required/>
      </div>
      <div class="form-group row">
        <label class = "col-form-label col-4 text-md-left">First Name</label>
        <input type = "text" class="form-control" th:field="*{first_name}" required/>
      </div>
      <div class="form-group row">
        <label class = "col-form-label col-4 text-md-left">Last Name</label>
        <input type = "text" class="form-control" th:field="*{family_name}" required/>
      </div>
      <div class="form-group row">
        <label class = "col-form-label col-4 text-md-left">Phone</label>
        <input type = "tel" class="form-control" th:field="*{phone}" pattern="[0-9]{10}" required/>
      </div>
      <div class="form-group row">
        <label class = "col-form-label col-4 text-md-left">E-Mail</label>
        <input type = "email" class="form-control" th:field="*{mail}" required/>
      </div>
      <div>
        <button type = "submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
  </div>

<p th:text="${error}"></p>
<p th:text="${success}"></p>
</body>
</html>